// color declaration
$primary-color: #23a6f0;
$secondary-color: #23856d;
$secondary-color-2: rgba(243, 205, 3, 1);
$text-color: #252b42;
$primary-text-color: #23a6f0;
$second-text-color: #737373;
$success-color: #2dc071;
$muted-color: #bdbdbd;
$white: #ffffff;
$black: #000000;
$danger-color: #e74040;
$alert-color: #e77c40;
$disabled-element-color: #8ec2f2;
